.banner {
    background: url("https://img.freepik.com/free-photo/woman-holding-smartphone-hands_23-2148793490.jpg?w=826&t=st=1667191145~exp=1667191745~hmac=201e4cea45962fbefe6df7ab90d1692104d0dd4a7080a517892ffd15246d71e5")
      no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
  }
  
